_open_sshd_port_check = matchany : string_contains : _open_sshd_port : parameter.sshd_port
_fail2ban_config_check = matchany : string_contains : _fail2ban_config_2 : parameter.sshd_port
firewalld_zones = count_greater : 1 : (_firewalld_zones_config, _ws_ping_remote_gw)
open_port = count_greater : 1 : (_open_sshd_port_check, _ws_ssh_to_gateway)
port_forwarding = count_greater : 2 : (_port_80_forwarding, _work_zone_masquerade, _wget_website)
fail2ban = count_greater : 2 : (_fail2ban_config, _fail2ban_config_check, _ws_ratelimit_by_fail2ban)
